$main: #f0d8bb;
$white: #ffffff;
$black: #17141d;

* {
  box-sizing: border-box;
  font-family: "HelveticaNeue-CondensedBold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 900;
}

html,body {
  padding: 0;
  margin: 0;
  
  
  &:before {
    animation: grain 8s steps(10) infinite;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png");
    content: "";
    height: 300%;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    width: 300%;
  }
  .light-mode {
    background: #ffffff;
    color: #1e1f13;

    .links {
      background: $white !important;
    }
    .card{
      .card-title{
        color: #17141d;
      }
    }
    
  }
  .dark-mode {
    background: $black;
    color: #f0d8bb;
    .logo{
      a{
        color: $main !important;
      }
    }
  }

  &.no-scroll {
    overflow: hidden;
  }
}

//@keyframes grain {
//  0%,
//  100% {
//    transform: translate(0, 0);
//  }
//  10% {
//    transform: translate(-5%, -10%);
//  }
//  20% {
//    transform: translate(-15%, 5%);
//  }
//  30% {
//    transform: translate(7%, -25%);
//  }
//  40% {
//    transform: translate(-5%, 25%);
//  }
//  50% {
//    transform: translate(-15%, 10%);
//  }
//  60% {
//    transform: translate(15%, 0%);
//  }
//  70% {
//    transform: translate(0%, 15%);
//  }
//  80% {
//    transform: translate(3%, 35%);
//  }
//  90% {
//    transform: translate(-10%, 10%);
//  }
//}

//header

.container {
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
  width: auto;
  height: 100%;
  &.fluid {
    widows: 100%;
    max-width: 100%;
    padding: 0;
  }
  @media (min-width: 1024px) {
    max-width: 960px;
  }
  @media (min-width: 1216px) {
    max-width: 1152px;
  }
  @media (min-width: 1408px) {
    max-width: 1560px;
  }
}
.row {
  display: flex;
  align-items: center;
  &.space-between {
    justify-content: space-between;
  }
  &.center {
    justify-content: center;
  }
}
header {
  font-size: 16px;
  position: fixed;
  z-index: 99;
  width: 100%;
  font-weight: "700";
  .container {
    .row {
      height: 128px;
      .logo {
        a {
          color: $black;
          text-decoration: none;
        }
      }
      .menu {
        cursor: pointer;
        border-radius: 100%;
        border: 1px solid $black;
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-in-out;
        &:hover {
          color: $white;
          background: $black;
        }
      }
      .links{
        position: absolute;
        height: 92vh;
        right: 0;
        left: 0;
        width: 100%;
        top:8vh;
        display: flex;
        flex-direction: row;
        align-content: center;
        background-color: #17141d;
        transform: translateX(300%);



      }
      .link-active{
        transform: translateX(0%);
      }
      .toggle{
        cursor: pointer;
      }
      
    }
  }
}
// .toggle{
//   position: relative;
//   padding: 0 4px;
//   display: flex;
//   align-items: center;
// }
// span input[type="checkbox"].checkbox{
//   width: 40px;
//   height: 10px;
//   background: #555;
//   position: relative;
//   border-radius: 5px;
//   -webkit-appearance:none;
//   -moz-appearance: none;
//   appearance: none;
//   cursor: pointer;
//   vertical-align: 2px;
//   outline: none;
// }
// span input[type="checkbox"]:checked + label{
//   left: 30px;
// }
// span input[type="checkbox"].checkbox:focus-visible{
//   outline: solid 2px white;
// }
// span input[type="checkbox"].checkbox + label{
//   display: inline-block;
//   width: 18px;
//   height: 18px;
//   border-radius: 50%;
//   transition: all 0.3s ease ;
//   cursor: pointer;
//   position: absolute;
//   left: 2px;
//    background-color: #ffffff;
//    opacity: 0.9;
//    background-color: $main;


// }
main {
  .container {
    position: relative;
    .row {
      height: 100vh;
      align-items: center;
      .image-container {
        position: absolute;
        .thumbnail {
          overflow: hidden;
          position: relative;
          .frame {
            img {
              width: 100%;
            }
          }
        }
        .information {
          position: absolute;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          text-transform: uppercase;
          .location {
            span:nth-child(2) {
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}

//single
.single {
  .container {
    .top-row {
      height: 50vh;
      width: 100%;
      align-items: flex-end;
      .top {
        padding-bottom: 40px;
        .details {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .location {
            span:nth-child(2) {
              margin-left: 16px;
            }
          }
          .role {
            text-transform: uppercase;
          }
        }
        .name {
          overflow: hidden;
          .first {
            margin-right: 72px;
          }
          span {
            display: inline-block;
            position: relative;
            font-weight: 400;
            font-size: 224px;
            font-family: "Maragsa";
            @media (max-width: 1440px) {
              font-size: 128px;
            }
          }
        }
      }
    }
    .bottom-row {
      height: 50vh;
      position: relative;
      .bottom {
        height: 100%;
        width: 100%;
        .thumbnail-single {
          width: 100%;
          height: 400px;
          margin: 0 auto;
          overflow: hidden;
          position: absolute;
          left: 0;
          right: 0;
          .frame-single {
            img {
              position: absolute;
              width: 100%;
            }
          }
        }
      }
      .scroll-for-more {
        position: absolute;
        bottom: 200px;
        left: 200px;
        z-index: 20;
        .icon {
          svg {
            height: auto;
            width: 28px;
          }
        }
        .text {
          margin-top: 8px;
          color: $white;
          text-transform: uppercase;
        }
      }
    }
  }
}

.detailed-information {
  margin-top: 200px;
  height: 600px;
  .container {
    .row {
      justify-content: space-between;
      align-items: flex-start;
      h2 {
        font-size: 28px;
      }
      p {
        font-family: "Helvetica Neue";
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        width: 800px;
      }
    }
  }
}
.card {
 margin: auto;
  display: flex;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem rgba(128,128,128, 3);
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  &:hover{
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
}
.card:not(:first-child){
    margin-left: -50px;
}
.card:hover ~ .card{
  position: relative;
  left: 50px;
}
.card-title{
  color: $main;
  font-weight: 500;
  position: absolute;
  left: 20px;
  top: 15px;
}
.bar{
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}
.emptyBar{
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}
.filledBar{
  position: absolute;
  top:0px;
  z-index: 3;
  width: 0;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1)65%,
          rgba(255, 186, 0,1)100%);
}
.card:hover .filledBar{
  width: 120px;
  transition: 0.4s ease-out;
}
.circle{
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);

}
.stroke{
  stroke: white;
  stroke-dasharray: 30;
  stroke-dashoffset: 360;
}
.svg{
  fill: #17141d;
  stroke-width: 2px;

}
.card:hover .stroke{
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}



